PORT=3001
NODE_ENV=development

DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_NAME=
DB_SYNC=

CLOUDINARY_CLOUD_NAME = doxm7rnpk
CLOUDINARY_API_KEY = 562125732663987
CLOUDINARY_API_SECRET = 89FPJ191ep6LB88cqO-2ELGJUVk
CLOUDINARY_FOLDER=bright-social